<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}" />

		{% if page.description %}
			<meta property="og:description" content="{{ page.description }}" />
			<meta name="description" content="{{ page.description }}" />
		{% endif %}

		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }} RSS Feed" href="/rss.xml" />

		<title>
			{% if page.title %}
				{{ page.title }} | {{ site.name }}
			{% else %}
				{{ site.name }}
			{% endif %}
		</title>

		{{ 'style.css' | stylesheet }}

		<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-438417-4']);
		  _gaq.push(['_trackPageview']);
		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-offset-2">
					{% if page.url != '/index.html' %}
						<h2><a href="/">{{ site.name }}</a></h2>
					{% else %}
						<h2>{{ site.name }}</h2>
					{% endif %}

					<hr />

					{{ content }}
				</div>
			</div>
		</div>
	</body>
</html>
